<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %}TREND - Movies{% endblock %}
{% block content %}
<h2>Movies Recommendations</h2>
<p>Here are some great movie recommendations!</p>
<div class="movie-list" id="movie-list">
</div>

<script>
    async function fetchMovies() {
        const response = await fetch('/tmdb/movies');
        const data = await response.json();

        const movieList = document.getElementById('movie-list');
        
        movieList.innerHTML = '';

        // Check if data contains results
        if (data.results && data.results.length > 0) {
            data.results.forEach(movie => {
                const movieCard = document.createElement('div');
                movieCard.classList.add('movie-card');

                const movieTitle = document.createElement('h3');
                movieTitle.textContent = movie.title;

                const movieOverview = document.createElement('p');
                movieOverview.textContent = movie.overview;

                const moviePoster = document.createElement('img');
                moviePoster.src = "https://image.tmdb.org/t/p/w500" + movie.poster_path;
                moviePoster.alt = movie.title + " poster";

                movieCard.appendChild(movieTitle);
                movieCard.appendChild(movieOverview);
                movieCard.appendChild(moviePoster);

                movieList.appendChild(movieCard);
            });
        } else {
            movieList.innerHTML = '<p>No movies found</p>';
        }
    }
    window.onload = fetchMovies;
</script>
{% endblock %}